.alert{
    width: 100%;
    font-size: 1.6rem;
    color: $color-white;
    margin-top: 0rem;
    height: 4rem;
    padding: 1rem 2rem;
    margin-bottom: 1rem;

    &--success{
        text-align: center;
        background-color: #0b890b;
    }
    &--error{
        text-align: center;
        background-color: #dc3545;
    }
}